@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap');
:root {
    --tamnoPlava: #1d527c;  /* rgb(29, 82, 124) */
    --svetloPlava: #459ad3; /* rgb(69, 154, 211) */
    --orange: #fd7f45;      /* rgb(253, 127, 69) */
    --tamnoSiva: #3c3b3c;
    --svetloSiva: lightgray;
    --bela: #fff;
    --transition: .3s ease;
    --padding: 100px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--tamnoSiva);
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--tamnoPlava);
}

hr{
    width: 30%;
    height: 3px!important;
    border: none;
    color: var(--tamnoPlava);
}

.button1, .button{
    padding: 10px 20px;
    background:transparent;
    text-transform: uppercase;
    border: 1px solid var(--bela);
    color: var(--bela);
}

.button{
    background:var(--tamnoPlava);
}

.button1:hover{
    color: var(--tamnoPlava);
}

.button:hover{
    color: var(--orange);
}
/********************
navBar
********************/
nav{
    background: linear-gradient(to right,rgba(253, 127, 69, .9), rgba(29, 82, 124, .9) );
}

nav .nav-link, nav .navbar-brand{
    color: var(--bela)!important;
}

nav .navbar-brand{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 1px;
}

/********************
header
********************/
header{
    height: 100vh;
    background: linear-gradient(rgba(29, 82, 124, .7), rgba(253, 127, 69, .9) ),url(img/baloon.jpg);
    background-position: top;
    background-size: cover;
}




/********************
about
********************/
.about img{
    width: 100%;
    box-shadow: 6px 6px var(--tamnoPlava);
}

/********************
services
********************/
.services{
    background:linear-gradient(rgba(29, 82, 124, .8), rgba(29, 82, 124, .8) ),url(img/header.jpg);
    background-size: cover;
    background-position: center;
}

.services i{
    font-size: 2.5rem;
    color: var(--orange);
}

.services .col-md-6:first-child .col-md-6{
    margin-top: 35px;
}


/********************
latestPosts
********************/
.latestPosts hr{
    margin: auto;
    width: 10%;
}

.latestPosts img{
    width: 100%;
}

.latestPosts .content p{
    text-align: justify;
}


/********************
footer
********************/
footer{
    background: linear-gradient(to right,rgba(253, 127, 69, .9), rgba(29, 82, 124, .9) ), url(img/baloon.jpg);
    background-size: cover;

}

footer i{
    font-size: 1.2rem;
    color: var(--tamnoPlava);
}


/*******************
RESPONSIVE
*******************/
@media (max-width: 576px) {
    .services .col-md-6:first-child .col-md-6{
        width: 33%;
    }
}